<div class="row">
    <h1>Actions</h1>
    <table>

        <tr>
            <th>type</th>
            <th>price</th>
            <th>when</th>
            </th>

            {{#each actions}}
        <tr>
            <td>{{type}}</td>
            <td>{{cost}}</td>
            <td>{{prettyDate}}</td>

        </tr>
        {{/each}}

    </table>

</div>